.board {

    &>div {
        display: flex;

        .node {
            width: 20px;
            height: 20px;
            border: 1px solid silver;

            &.mine {
                background-color: red;
            }
        }
    }
}